<h1>新增商品</h1>

<%= simple_form_for([:admin, @product]) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :is_online %>
  <%= f.submit class:'btn btn-primary' %>
<% end %>
